body {
    background-color: rgb(130, 130, 130)
}

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10% 30% 0% 30%;
    border: 2px solid black;
    border-radius: 25px;
    background-color: rgb(208, 208, 208);
}

#title {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: bold;
    text-align: center;
    font-size: small;
}

#logo {
    margin-bottom: 20px;
    width: 60%;
    object-fit: cover;
}

